.s{
    background-color: #cecece;
}
.d{
    background-color: green;
}
.v{
    background-color: orange;
}
.a{
    background-color: red;
}

.c{
    background-color: pink
}
.e{
    background-color: grey;
}
div{
    width: 600px;
    height: 800px;
    margin:20px;
    float: left;
}
table,tr,td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
tr {
    height:100px;
}
td {
    width: 100px;
}
button{
    font-family: 'Permanent Marker', cursive;
    background-color: green;
    color:white;
    text-align: center;
    
}